.conversationName {
  display: block;
  font-weight: 600;
  font-size: 16px;
}

.conversationLastMessage {
  font-size: 15px;
  font-weight: 500;
  color: #868686;
}
.conversationAvatar {
  background-color: rgb(49, 100, 255);
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hr {
  background-color: #242424;
  height: 1px;
  border: none;
  width: 85%;
}
