.groupName {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.groupLastMessage {
  font-size: 14px;
  color: rgb(163, 163, 163);
}
.groupAvatar {
  background-color: rgb(255, 170, 11);
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
