form {
  width: 800px;
}

.nameFieldRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  gap: 8px;
}

.footerText {
  & :last-child {
    text-decoration: underline;
    color: rgb(184, 184, 184);
  }
  margin: 10px 0;
  text-align: center;
}

.button {
  margin: 8px 0;
}

.loginFormPassword {
  margin: 8px 0;
}

.createConversationForm {
  width: 100%;
}

.message {
  margin: 8px 0;
}

.conversationTypeForm {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}
.radio {
  display: none;
  &:hover + .radioLabel::before {
    background-color: #000;
  }
  &:checked + .radioLabel::before {
    content: '\2714';
    color: rgb(32, 32, 32);
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.radioLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #2b09ff;
    border-radius: 5px;
    margin-right: 8px;
  }
}
